.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icons {
    display: flex;
    gap: 16px;
}
.hero {
    background-image: url("wine.jpg");
    background-size: cover;
    background-position: center;
}